@model BooksShoppingCart.Models.Categories

@{
    ViewBag.Title = "刪除書籍分類";
}

<h2>@ViewBag.Title</h2>

<h3>您確定要刪除此書籍分類嗎？</h3>
<div>
    <h4>書籍分類</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
            @Html.ActionLink("返回書籍分類列表", "Index")
        </div>
    }
</div>
