@using Microsoft.AspNet.Identity
@using BooksShoppingCart.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
        var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
        var currentUser = manager.FindById(User.Identity.GetUserId());
            }
            @Html.ActionLink("Hello " + currentUser.NickName + "!", "Index", "Manage", new { area = "" }, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("我的訂單", "MyOrder", "Order", new { area = "" }, null)</li>
        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("後台管理", "Index", "Roles", new { area="Admin"}, null)</li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
